<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Volunteer Hub{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/svg+xml">
    
</head>
<body>
    {% csrf_token %}
    
    <div class="auth-container">
        {% block content %}
        {% endblock %}
    </div>

    <script src="{% static 'js/auth.js' %}"></script>
    <script src="https://www.google.com/recaptcha/api.js?render={{ RECAPTCHA_SITE_KEY }}"></script>
</body>
</html>